.bg-light-main-color {
    background-color: #a5a57e;
  }
  
.fs-14{
    font-size: 14px !important;
}

tr:last-child{
    border-bottom: none !important;
}
ul li button {
    border-radius: 0 !important;
}
.actived{
    background-color: #FFFFFF !important;
    color: black !important;
    border: 1px solid black !important;
    border-bottom: 0 !important;
} 