  .h4 {
    font-weight: bold;
  }
  
  .border-bottom {
    border-bottom: 2px solid #d1d1d1;
  }
.dynamicTitle {
    font-size: clamp(1rem, .8rem + 2vw, 1.5rem) !important;
}
.main-title {
    color: var(--main-color);
    font-weight: 700;
}