*{
        font-family: 'Neo Sans Arabic', sans-serif;
        box-sizing: border-box !important;
}
:root {
    --white-color: #fff;
    --main-color: #374c5f;
    --light-main-color: #9da07c;
    --link-color: #EE7B0B;
    --linkk-color:#374c5f;

  }
  .card-header{
        background-color: var(--light-main-color) !important;
        border-radius: 0% !important;
        color: var(--white-color) !important; 
        font-weight: bold;
        padding: 5px 8px !important;
    }
    th ,td{
        padding: 3.2px !important;
    }
    .bg-head{
        background-color: #F8F9FA !important;
    }